<body>
	<img src="http://vignette3.wikia.nocookie.net/candh/images/7/70/Calvin%26HobbesDartWarGames.jpg/revision/latest?cb=20140223090538">
	<h1><b> It's Calvin and Hobbes </b></h1>
	
	<ul class="paintings">
		<%= @paintings.each do |painting| %>
		<li>
			<%= link_to painting.name, painting %>
		</li>
	<% end %>
	</ul>




</body>